#logo{
    width: 4rem;
}

.signin{
    background-color: red;
}

.invalid-credentials{
    color: red;
    font-size:small;
}

.btn-primary:disabled {
    background-color: #93c5fd;
    cursor:default;
}

.text-color{
    color: var(--login-color);
    background-color: var(--login-bg);
}

.background-color{
    background-color: var(--login-bg);
}