* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 0 10px;
    color: rgb(0, 0, 0);
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.123);
}

#asgard {
    height: 1.2rem;
    margin-left: 0.5rem;
}

.buttons {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 2rem;
}

.search-bar {
    margin: 0 0 0 20px;
    max-width: 15rem;
}

.search-bar input {
    background-color: #f2f2f2;
    width: 100%;
    padding: 5px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: black;
}

.workspace-buttons {
    display: flex;
    align-items: center;
}

.workspace-buttons button {
    background-color: #f2f2f2;
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    height: 2rem;
}

.workspace-buttons button:hover {
    background-color: #e3e3e3;
}

.button1 {
    background-color: rgb(177, 232, 254) !important;
}


.suggestions-list {
    background-color: white;
    position: absolute;
    top: 100%;
    left: 16.5626rem;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 100;
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.suggestions-list li {
    padding: 8px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
}