<link rel="stylesheet" href="workspace.component.css">

<div class="layout flex">
    <div class="flex icons">
        <img class="icon" src="flashcard.png" alt="Flashcard" (click)="startSession()">
        <div class="flex">
            <a class="upload" (click)="uploadFolder()"><img class="icon" src="upload.png" alt="Upload"></a>
            <button (click)="goToStats()"><img class="icon" src="informacion.png" alt="About"></button>
            <a class="ml-1 delete" (click)="deleteFolder()"><img class="icon" src="delete.png" alt="Delete"></a>
        </div>
    </div>
    <textarea class="workspace-name" [(ngModel)]="workspace.name" (ngModelChange)="saveWorkspaceName()"></textarea>
    <div class="folders">
        <button *ngFor="let folder of folders; let i = index" class="button folder" (click)="openFolder(folder.id)">{{ folder.name }}</button>
        <button class="button folder" (click)="onCreateFolder($event)">+</button>
    </div>
    <hr class="separator">
    <div class="notes flex">
        <div class="flex">
            <h2 class="note-title">Notes</h2>
            <i class="bi bi-pencil pencil"></i>
        </div>
        <st-editor [(ngModel)]="note" [config]="config" (ngModelChange)="saveNote()"></st-editor>
        <h1 class="flashcardtitle">Flashcards</h1>
    </div>
    <div class="flashcards">
        <button *ngFor="let flashcard of flashcards; let i = index" class="flashcard max-w-sm rounded overflow-hidden shadow-lg" (click)="openFlashcard(flashcard.id, workspaceId)">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">{{flashcard.title}}</div>
                <p class="text-gray-700 text-base">{{flashcard.question}}</p>
            </div>
        </button>
        <button class="flashcard flashcard-more max-w-sm rounded overflow-hidden shadow-lg" (click)="onCreateFlashcard($event)">
            <p class="text-gray-700 text-base plus">+</p>
        </button>
    </div>
</div>