<link rel="stylesheet" href="workspace.component.css">

<div class="layout flex">
    <div class="flex icons">
        <img class="icon" src="flashcard.png" alt="Flashcard">
        <img class="icon" src="informacion.png" alt="Información">
    </div>
    <h1 class="workspace">Workspace x</h1>
    <div class="folders">
        @for (folder of folders; track $index) {
            <button class="button folder">{{folder.name}}</button>
        }
        <button class="button folder">+</button>
    </div>
    <hr class="separator">
    <div class="notes">
        <h2 class="note-title">Notes</h2>
        <i class="bi bi-pencil pencil"></i>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolor porro in voluptatem, explicabo aut
            quas quibusdam corrupti nam provident eaque quasi? Deleniti eligendi inventore quo voluptatem eius corrupti
            iste.</p>
    </div>
    <div class="flashcards">
        @for (flashcard of flashcards; track $index) {
        <div class="flashcard max-w-sm rounded overflow-hidden shadow-lg">
            @if (flashcard.image) {
            <img class="w-full flashcard-img" src="{{flashcard.image}}" alt="Flashcard image">
        }
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">{{flashcard.title}}</div>
                <p class="text-gray-700 text-base">{{flashcard.question}}</p>
            </div>
        </div>
        }
        <div class="flashcard flashcard-more max-w-sm rounded overflow-hidden shadow-lg">
            <p class="text-gray-700 text-base plus">+</p>
        </div>
    </div>
</div>