<link rel="stylesheet" href="workspace.component.css">

<div class="layout flex">
    <div class="flex icons">
        <img class="icon" src="flashcard.png" alt="Flashcard">
        <img class="icon" src="informacion.png" alt="Información">
    </div>
    <h1 class="workspace">Workspace x</h1>
    <div class="folders">
        <button class="button folder">Folder 1</button>
        <button class="button folder">Folder 2</button>
        <button class="button folder">Folder 3</button>
        <button class="button folder">Folder 4</button>
        <button class="button folder">+</button>
    </div>
</div>