<div class="container">
  <div class="recovery-card">

    <h1>Reset your password</h1>
      <p class="description">
        Enter a new password to reset the password on your account. We'll ask for this password whenever you log in .
      </p>
 <form (ngSubmit)="onSubmit()" [formGroup]="resetForm">
      <div class="form-group">
          <label for="password">Password</label>

            <div class="relative mb-2">
            <input type={{typeShowHide}} id="password" placeholder="{{placeholder}}" formControlName="password" />
            <button type="button"  class="hide-button" (click)="showHidePassword()">{{showHide}}</button>

            <div
              *ngIf="resetForm.get('password')?.invalid && (resetForm.get('password')?.dirty || resetForm.get('password')?.touched)">
              <label *ngIf="resetForm.get('password')?.errors?.['minlength']" class="error-message">Invalid
                password</label>
              <label *ngIf="resetForm.get('password')?.errors?.['required']" class="error-message">Password is
                required</label>
            </div>
          </div>
        <!--form-confirmed-password-->
        
          <label for="password">Confirmed Password</label>
            <div class="relative mb-4">
            <input type={{typeShowHide}} id="confirmPassword" placeholder="{{placeholder}}" formControlName="confirmPassword">
            <button type="button" class="hide-button" (click)="showHidePassword()">{{showHide}}</button>
            
            <div
              *ngIf="(resetForm.get('confirmPassword')?.invalid || resetForm.errors?.['passwordsDontMatch']) && (resetForm.get('confirmPassword')?.dirty || resetForm.get('confirmPassword')?.touched)">
              <label *ngIf="resetForm.get('confirmPassword')?.errors?.['required'] && !resetForm.errors?.['passwordsDontMatch']" class="error-message">Password is required</label>
              <label *ngIf="resetForm.errors?.['passwordsDontMatch']" class="error-message">Passwords did not match</label>
            </div>
          </div>

      <button type="submit" class="btn-primary" [disabled]="!resetForm.valid">Reset password</button>
    </div>
    </form>

    <div class="signup-link">Know your password? <button (click)="moveToLogin()">Log in</button> </div>
</div>
</div>