<div class="sidenav shadow" [ngClass]="isSidebarCollapsed() ? 'sidenav-collapsed' : ''">
  <div class="layout-content-container">
    <div class="layout-content">
      <div class="user-img-container">
        <button class="user-img">
          <img src={{image}} alt="">
        </button>
        @if (!isSidebarCollapsed()) {
        <div class="flex flex-col user-img-text">
          <h3 class="username">{{username}}</h3>
        </div>
        }
      </div>

      <ul class="sidenav-nav">
        @for (item of items; track $index) {
        <li class="sidenav-nav-item">
          <a class="sidenav-nav-link" [routerLink]="item.routeLink" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
            @if (!isSidebarCollapsed()) {
              <i class="sidenav-link-icon" [class]="item.icon"></i>
              <span class="sidenav-link-text">{{ item.label }}</span>
            }
            @if (isSidebarCollapsed()) {
              <i class="sidenav-collapsed-link-icon" [class]="item.icon"></i>
            }
          </a>
        </li>
        }
      </ul>
    </div>
    <button class="add-workspace-btn" (click)="logout()">Signout</button>
  </div>
</div>