.layout {
    flex-direction: column;
    height: 100%;
    margin-top: 3rem;
    right: 0px;
    padding: 1rem;
    margin-left: 16.5625rem;
    right: 16.5625rem;
}

.title {
    padding-top: 2%;
    margin-bottom: 1rem;
    align-self: center;
    font-weight: bold;
    font-size: 2.5rem;
    padding: 10px;
    border: none;
    outline: none;
    resize: none;
    border-radius: 8px;
    text-align: center;
    width: 100%;
}

.folders-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.folder-card {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background: var(--background-color);
    margin-bottom: 1rem;
}

.folder-name {
    font-size: 1.2em;
    margin-bottom: 8px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

.restore-button {
    background-color: #69ffa8;
    color: rgb(0, 0, 0);
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button {
    background-color: #f88b7f;
    color: rgb(0, 0, 0);
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.restore-button:hover {
    background-color: #62e498;
}

.delete-button:hover {
    background-color: #f77f71;
}
.delete-folder-confirmation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.delete-folder-confirmation-container {
    width: 500px;
    max-width: 90%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 25px;
    position: relative;
}

.delete-folder-confirmation-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.delete-folder-confirmation-form h3 {
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: #333;
    text-align: center;
}

.cancel-button {
    padding: 10px 20px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.cancel-button:hover {
    background-color: #5a6268;
}
.delete-button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.delete-confimation-button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.delete-confimation-button:hover {
    background-color: #d90000;
}