<div>

  <div class="flex flex-col items-center justify-center min-h-screen bg-background">
    <div class="bg-blue-100 p-8 rounded-lg shadow-md w-96">
      <img class="text-center mx-auto mb-2" src="logo.png" alt="Logo" id="logo" />
      <h1 class="text-2xl text-center mb-4">Sign up</h1>
      <form [formGroup]="form" (ngSubmit)="signUp()">
        <!--form-fist-name-->
        <div class="mb-4">
          <label for="fName" class="block text-sm font-medium text-zinc-700">First Name</label>
          <input type="text" id="fName"
            class="mt-1 block w-full p-2 border border-zinc-300 rounded-md focus:ring focus:ring-primary"
            placeholder="First Name" required formControlName="firstName" />

          <div
            *ngIf="form.get('firstName')?.invalid && (form.get('firstName')?.dirty || form.get('firstName')?.touched)"
            class="text-red-500 text-xs">
            <label *ngIf="form.get('firstName')?.errors?.['required']" class="text-red-500 text-xs">First Name is
              Required</label>
          </div>
        </div>

        <!--form-last-name-->
        <div class="mb-4">
          <label for="lName" class="block text-sm font-medium text-zinc-700">Last Name</label>
          <input type="text" id="lName"
            class="mt-1 block w-full p-2 border border-zinc-300 rounded-md focus:ring focus:ring-primary"
            placeholder="Last Name" required formControlName="lastName" />

          <div *ngIf="form.get('lastName')?.invalid && (form.get('lastName')?.dirty || form.get('lastName')?.touched)"
            class="text-red-500 text-xs">
            <label *ngIf="form.get('lastName')?.errors?.['required']" class="text-red-500 text-xs">Last Name is
              Required</label>
          </div>
        </div>

        <!--form-email-->
        <div class="mb-4">
          <label for="email" class="block text-sm font-medium text-zinc-700">Email</label>
          <input type="email" id="email"
            class="mt-1 block w-full p-2 border border-zinc-300 rounded-md focus:ring focus:ring-primary"
            placeholder="you@example.com" required formControlName="email" />

          <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)"
            class="text-red-500 text-xs">
            <label *ngIf="form.get('email')?.errors?.['email']" class="text-red-500 text-xs">Invalid Email</label>
            <label *ngIf="form.get('email')?.errors?.['required']" class="text-red-500 text-xs">Email is
              Required</label>
          </div>
        </div>

        <!--form-password-->
        <div class="mb-4">
          <label for="password" class="block text-sm font-medium text-zinc-700">Password</label>
          <div class="relative">

            <input type={{typeShowHide}} id="password"
              class="mt-1 block w-full p-2 border border-zinc-300 rounded-md focus:ring focus:ring-primary"
              placeholder="********" formControlName="password" />
            <button type="button" class="absolute right-3 top-3 text-blue-500 text-sm"
              (click)="showHidePassword()">{{showHide}}</button>

            <div
              *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)">
              <label *ngIf="form.get('password')?.errors?.['minlength']" class="text-red-500 text-xs">Invalid
                password</label>
              <label *ngIf="form.get('password')?.errors?.['required']" class="text-red-500 text-xs">Password is
                required</label>
            </div>

          </div>
        </div>

        <!--form-confirmed-password-->
        <div class="mb-4">
          <label for="password" class="block text-sm font-medium text-zinc-700">Confirmed Password</label>
          <div class="relative">

            <input type={{typeShowHide}} id="confirmPassword"
              class="mt-1 block w-full p-2 border border-zinc-300 rounded-md focus:ring focus:ring-primary"
              placeholder="********" formControlName="confirmPassword" />
            <button type="button" class="absolute right-3 top-3 text-blue-500 text-sm"
              (click)="showHidePassword()">{{showHide}}</button>

            <div
              *ngIf="(form.get('confirmPassword')?.invalid || form.errors?.['passwordsDontMatch']) && (form.get('confirmPassword')?.dirty || form.get('confirmPassword')?.touched)">
              <label *ngIf="form.get('confirmPassword')?.errors?.['required']" class="text-red-500 text-xs">Password is
                required</label>
              <label *ngIf="form.errors?.['passwordsDontMatch']" class="text-red-500 text-xs">Passwords did not
                match</label>
            </div>

          </div>
        </div>
        <div class="flex align-columns">
          <input type="checkbox" value="checkbox" class="indeterminate:bg-gray-300 border-2 rounded-md mr-2" />
          <label class="text-xs top-0.5">Accept <a href="" class="text-blue-500">terms and conditions.</a></label>
        </div>

        <!--continue button-->
        <button type="submit" class="continue"
          [disabled]="form.invalid && !checkbox">Continue</button>

      </form>
      <!--redirect to sign in-->
    </div>
    <p class="mt-4 text-center text-sm text-zinc-500">Already have an account? <button (click)="moveToSignIn()"
        class="text-blue-500 hover:underline text-sm">Log in</button></p>
  </div>