<div class="layout flex">
    <div class="flex icons">
        <a href="/workspace/{{workspaceId}}"><img class="icon" src="boton-cerrar.png" alt="Close"></a>
    </div>
    <h1 class="workspace">{{workspace.name}}'s stats</h1>
    <div class="flex bg-black">
        <div class="flex totalFlashcards">
            <h2>Total Flashcards</h2>
            <div #chartContainer></div>
        </div>
        <div>
            <div>
                <div>
                    
                </div>

            </div>
            <div>

            </div>
            <div>

            </div>
        </div>
    </div>
</div>