.layout{
    flex-direction: column;
    height: 100%;
    margin-top: 3rem;
    right: 0px;
    padding: 1rem;
    margin-left: 16.5625rem;
    right: 16.5625rem;
}

.icons{
    justify-content: space-between;
}

.icon{
    width: 2rem;
    cursor: pointer;
}

.workspace{
    align-self: center;
    padding-bottom: 1%;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: underline;
}

.totalFlashcards{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: red;
    width: 100%;
}
