html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

:root {
    /* General */
    --background-color: #ffffff;
    --text-color: #000000;

    /* Header */
    --header-bg: #ffffff;
    --header-text: #585858;

    /* Sidebar */
    --sidebar-bg: #ffffff;
    --sidebar-text: #585858;
    --sidebar-hover: #f0efef;
    --sidebar-active: #d6d6d6;
    --sidebar-active-text: #000;
    --sidebar-signout: #000000;
    --sidebar-signout-bg: #359eff;
    --sidebar-signout-hover: #2b80cc;
    --sidebar-signout-light-bg: #e6f2ff;
    --sidebar-signout-dark-bg: #1a4b80;
    --transition-speed: 0.3s;
    --border-radius: 8px;

    /* Workspace */
    --workspace-button-bg: #b3b4b6;
    --workspace-buttonhover-bg: #949494;
    --workspace-separator-border: 1px solid rgba(0, 0, 0, 0.4);

    /* Calendar */
    --other-month-bg: #f9fafb;
    --other-month-color: #9ca3af;
}

:root.dark {
    /* General */
    --background-color: #121212;
    --text-color: #ffffff;

    /* Header */
    --header-bg: #333;
    --header-text: #000000;

    /* Sidebar */
    --sidebar-bg: #1e1e1e;
    --sidebar-text: #e0e0e0;
    --sidebar-hover: #2c2c2c;
    --sidebar-active: #3a3a3a;
    --sidebar-active-text: #ffffff;
    --sidebar-signout: #ffffff;

    /* Workspace */
    --workspace-button-bg: #3181f9;
    --workspace-buttonhover-bg: #1d74f5;
    --workspace-separator-border: 1px solid rgba(255, 255, 255, 0.4);

    /* Calendar */
    --other-month-bg: #313131;
    --other-month-color: #9ca3af;
}