<div class="layout">
    <div *ngIf="uploading" class="event-editor-overlay">
        <div class="event-editor-container">
            <form class="event-editor-form" [formGroup]="editingEventForm" (ngSubmit)="saveEvent()">
                <h3>Add New Event</h3>
                <div class="form-group">
                    <label for="eventTitle">Title</label>
                    <input 
                        type="text" 
                        id="eventTitle" 
                        class="form-input" 
                        formControlName="title"
                        placeholder="Enter event title">
                </div>
                
                <div class="form-row">
                    <div class="form-group">
                        <label for="startDate">Start Date</label>
                        <input 
                            type="date" 
                            id="startDate" 
                            class="form-input" 
                            formControlName="startDate">
                    </div>
                    
                    <div class="form-group">
                        <label for="endDate">End Date</label>
                        <input 
                            type="date" 
                            id="endDate" 
                            class="form-input" 
                            formControlName="endDate">
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group">
                        <label for="startHour">Start Time</label>
                        <input 
                            type="time" 
                            id="startHour" 
                            class="form-input" 
                            formControlName="startHour">
                    </div>
                    
                    <div class="form-group">
                        <label for="endHour">End Time</label>
                        <input 
                            type="time" 
                            id="endHour" 
                            class="form-input" 
                            formControlName="endHour">
                    </div>
                </div>
            
                
                <div class="form-group">
                    <label>Color</label>
                    <div class="color-selector">
                        <button type="button" class="color-option" 
                            *ngFor="let color of ['blue', 'green', 'red', 'gray']"
                            class="{{'color-' + color}}"
                            [ngClass]="{'selected': editingEventForm.value.color === color}"
                            (click)="editingEventForm.patchValue({ color: color })">
                        </button>
                    </div>
                </div>
                
                <div class="button-group">
                    <button class="cancel-button" (click)="cancelEventEdit()">Cancel</button>
                    <button class="save-button" type="submit">Save</button>
                </div>

            </form>
        </div>
    </div>

    <div *ngIf="editing" class="event-editor-overlay">
        <div class="event-editor-container">
            <form class="event-editor-form" [formGroup]="editingEventForm">
                <h3>Editar Evento</h3>
                
                <div class="form-group">
                    <label for="editEventTitle">Title</label>
                    <input 
                        type="text" 
                        id="editEventTitle" 
                        class="form-input" 
                        formControlName="title" 
                        placeholder="Título del evento">
                </div>
                
                <div class="form-row">
                    <div class="form-group">
                        <label for="editStartDate">Start date</label>
                        <input 
                            type="date" 
                            id="editStartDate" 
                            class="form-input" 
                            formControlName="startDate">
                    </div>
                    
                    <div class="form-group">
                        <label for="editEndDate">End date</label>
                        <input 
                            type="date" 
                            id="editEndDate" 
                            class="form-input"
                            formControlName="endDate">
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group">
                        <label for="editStartHour">Start Hour</label>
                        <input 
                            type="time" 
                            id="editStartHour" 
                            class="form-input" 
                            formControlName="startHour">
                    </div>
                    
                    <div class="form-group">
                        <label for="editEndHour">End hour</label>
                        <input 
                            type="time" 
                            id="editEndHour" 
                            class="form-input" 
                            formControlName="endHour">
                    </div>
                </div>

                <div class="form-group">
                    <label>Color</label>
                    <div class="color-selector">
                        <button type="button" class="color-option" 
                            *ngFor="let color of ['blue', 'green', 'red', 'gray']"
                            class="{{'color-' + color}}"
                            [ngClass]="{'selected': editingEventForm.value.color === color}"
                            (click)="editingEventForm.patchValue({ color: color })">
                        </button>
                    </div>
                </div>
                
                <div class="button-group">
                    <button class="delete-button" (click)="deleteEvent()">Eliminate</button>
                    <div class="right-buttons">
                        <button class="cancel-button" (click)="cancelEventEdit()">Cancel</button>
                        <button class="save-button" (click)="updateEvent()">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="calendar-container">
        <div class="calendar">
            <div class="calendar-header">
                <h2>{{ monthNames[currentMonth.getMonth()] }} {{ currentMonth.getFullYear() }}</h2>
                <div class="calendar-nav">
                    <button class="nav-button" (click)="previousMonth()">
                        <i class="chevron-up"></i>
                    </button>
                    <button class="nav-button" (click)="nextMonth()">
                        <i class="chevron-down"></i>
                    </button>
                </div>
            </div>

            <div class="calendar-days-header">
                <div class="day-name" *ngFor="let day of daysOfWeek">{{ day }}</div>
            </div>

            <div class="calendar-grid">
                <div *ngFor="let day of calendarDays" class="calendar-day" [ngClass]="{
                'other-month': !day.isCurrentMonth,
                'today': isToday(day.date)}" (click)="selectDate(day.date)">
                    <div class="day-number" [ngClass]="{'today-number': isToday(day.date)}">
                        {{ day.date.getDate() }}
                    </div>

                    <div class="day-events">
                        <div *ngFor="let event of getEventsForDay(day.date)" class="event"
                            [ngClass]="'event-' + event.color" (click)="eventEditor(event)">
                            {{ event.title }}
                        </div>
                    </div>

                    <button *ngIf="day.isCurrentMonth" class="add-event-button" (click)="addEvent(day.date)">
                        <i class="plus-icon"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="event-sidebar">
            <h3>Events list</h3>
            <div class="event-list">
                <div *ngFor="let event of getEventsForMonth()" class="event-item">
                    <div class="event-details">
                        <div class="event-date">{{ formatDate(event.startDate) }} <p *ngIf="event.endDate && event.endDate!==event.startDate"> - {{formatDate(event.endDate)}}</p></div>
                        <div class="event-title">{{ event.title }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

